.homeContainer {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}
.topbarContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.topbarContainerLogo {
  width: 15%;
  height: 40px;
  margin-left: 20px;
}
.topbarContainerLogo p {
  font-family: "Nunito-ExtraBold";
  font-weight: bold;
  color: #0be5d8;
}
.topbarContainerLeft {
  display: flex;
  width: 60%;
  height: 60px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
.topbarContainerHome,
.topbarContainerAbout,
.topbarContainerResume,
.topbarContainerWorks,
.topbarContainerBlogs,
.topbarContainerContact {
  width: 13%;
  height: 40px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  background-color: #262626;
  border-radius: 10px;
  border: none solid rgba(255, 255, 255, 0.107);
  display: flex;
  cursor: pointer;
  transition-duration: 0.3s;
  color: #979090;
  position: relative;
}

.topbarContainerHome {
  display: flex;
}


.homeContainerMiddle {
  align-items: center;
  width: 50%;
  height: 130px;
  /* background-color: rgb(91, 59, 16); */
  flex-direction: column;
  height: fit-content;
  margin-left: 25%;
  height: 80vh;
}
.homeContainerMiddlePic {
  width: 250px;
  background-color: rgb(154, 149, 151);
  height: 250px;
  margin-left: 40%;
  border-radius: 50%;
  /* margin-top: 10px; */
}
.homeContainerMiddlePic img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
  object-fit: cover;
}
.homeContainerMiddleName {
  width: 40%;
  height: 100px;
  margin-left: 40%;
  margin-top: 20px;
  color: #979090;

  padding-left: 30px;
}
.homeContainerMiddleName h1{
  font-family: "Nunito-Regular";
}
.homeContainerMiddleName p {
  padding-left: 40px;
  font-family: "Nunito-ExtraLight";
}
.homeContainerMiddleSoial {
  width: 40%;
  height: 70px;

  margin-left: 40%;
  display: flex;
}
.homeContainerMiddleSocialFb,
.homeContainerMiddleSocialTwitter,
.homeContainerMiddleSocialwhat,
.homeContainerMiddleSocialIn {
  width: 50px;
  height: 50px;
  background: rgba(216, 219, 216, 0.1);
  /* box-shadow: 0 8px 32px 0 rgba(243, 93, 235, 0.37); */
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: none solid rgba(255, 255, 255, 0.107);
  margin-left: 10px;
  border-radius: 10px;
}
.bungalowicon {
  /* background-color: #b86262; */
  margin-left: 10%;
  width: fit-content;
  height: fit-content;
  margin-top: 5px;
}
.Bungalow {
  color: #979090;
  margin-top: 5px;
  padding-left: 10px;
}
.bungalowname {
  color: #979090;
  margin-top: 7px;
  width: 100%;
  font-size: 100%;
  margin-left: 5px;
  /* background-color: #979090; */
}
.facebook,
.twitter,
.instagram,
.linkedin,
.download {
  margin-top: 10px;
  align-items: center;
  margin-left: 12px;
  cursor: pointer;
}
.facebook {
  color: rgb(28, 129, 236);
}
.twitter {
  color: rgb(50, 138, 231);
}
.instagram {
  color: rgba(255, 0, 144, 0.895);
}
.linkedin {
  color: rgb(28, 129, 236);
}
.CVcontainer {
  width: 28%;
  height: 40px;
  background-color: #0be5d8;
  margin-left: 45%;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}
.download {
  margin-left: 30px;
  color: #979090;
  cursor: pointer;
}
.downloadcv {
  margin-top: 8px;
  margin-left: 10px;
  color: #979090;
  font-family: "Nunito-Regular";
}
