@font-face {
  font-family: "Nunito-ExtraBold";
  src: local("Nunito-ExtraBold"), url("./Fonts/Nunito-ExtraBold.ttf");
}
@font-face {
  font-family: "Nunito-ExtraLight";
  src: local("Nunito-ExtraLight"), url("./Fonts/Nunito-ExtraLight.ttf");
}

@font-face {
  font-family: "Nunito-Bold";
  src: local("Nunito-Bold"), url("./Fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "Nunito-Regular";
  src: local("Nunito-Regular"),
    url("./Fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito-Light";
  src: local( "Nunito-Light") url("Fonts/Nunito-Light.ttf");
}
