@font-face {
  font-family: "RoundedMplus1c-Thin";
  src: local("RoundedMplus1c-Thin"), url("./Fonts/RoundedMplus1c-Thin.ttf");
}
@font-face {
  font-family: "RoundedMplus1c-ExtraBold";
  src: local("RoundedMplus1c-ExtraBold"), url("./Fonts/RoundedMplus1c-ExtraBold.ttf");
}
/* *{
  font-family: "RoundedMplus1c-ExtraBold";
} */

@font-face {
  font-family: "RoundedMplus1c-Bold";
  src: local("RoundedMplus1c-Bold"), url("./Fonts/RoundedMplus1c-Bold.ttf");
}

@font-face {
  font-family: "RoundedMplus1c-Regular";
  src: local("RoundedMplus1c-Regular"),
    url("./Fonts/RoundedMplus1c-Regular.ttf");
}
@font-face {
  font-family: "RoundedMplus1c-Light";
  src: local url("Fonts/RoundedMplus1c-Light.ttf");
}
