.aboutContainer {
  background-color: black;
  width: 100%;
  height: 150vh;
}

.aboutMeTexthr {
  display: flex;
}
.hr {
  width: 10%;
  height: 10%;
  margin-left: 10px;
}
#hrline {
  /* margin-top: 10%; */
  width: 100%;
  height: 1.5px;
  border: none;
  background-color: #0be5d8;
}
.aboutMeContainer {
  width: 100%;
  height: 100vh;
  color: white;
  border-radius: 10px;
}
@media (max-width: 415px) {
  .aboutMePicText {
    display: flex;
    flex-direction: column;
  }
}

.aboutMeText {
  width: fit-content;
  height: 30px;
  margin-left: 6%;
  padding-top: 30px;
  color: white;
  font-family: "Nunito-Regular";
  /* background-color: #ca9696; */
  font-size: 25px;
}
.aboutMePicText {
  display: flex;
  height: 70vh;
  width: 90%;
  background-color: #fff;

  margin-left: 6%;

  justify-content: space-around;
  background: rgba(216, 219, 216, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: none solid rgba(255, 255, 255, 0.107);
}
@media (max-width: 415px) {
  .aboutMePicText{
   background-color: #dfaeae;
  font-size: 15px;
  height: 100vh;
  }
}
.aboutMePic {
  width: 250px;
  height: 250px;
  background-color: rgba(135, 127, 134, 0.938);
  border-radius: 30px;
  margin-top: 10px;
  /* margin-right: 3%; */
  margin-left: 20px;
}
.aboutMePic img{
position: relative;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5%;

}
@media (max-width: 768px) {
  .aboutMePic img {
    width: 100%;
    height: 350px;

   
  }
}
@media (max-width: 768px) {
  .aboutMePic {
    width: 250px;
    height: 250px;
    flex-direction: column;

   margin-top: -45px;
  }
}
.aboutMeText1 {
  width: 80%;
  height: 50vh;

  /* margin-right: 7%; */
  border-radius: 30px;
}
@media (max-width: 415px) {
  .aboutMeText1 {
    width: max-content;
    height: 400px;
    margin-top: 0;
    margin-left: 7%;
    /* background-color: #fff; */
  }
}
.WhoamI {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
  font-family: "Nunito-Regular";
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 415px) {
  .WhoamI,.WhoamIText {
    width: max-content;
    height: max-content;
  font-size: 15px;
  }
}
@media (max-width: 415px) {
  #p {
    width: 300px;
    height: max-content;
  font-size: 15px;
  }
}

.WhoamIText {
  width: 90%;
  height: fit-content;

  margin-left: 20px;
  font-family: "Nunito-ExtraLight";
  color: #979090;
  font-size: 20px;
  font-weight: 100;
}
.PersonalInfo {
  margin-top: 5px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
  font-family: "Nunito-Regular";
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
  border-right: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 415px) {
  .PersonalInfo {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 415px) {
  .PersonalInfoItems2,
  .PersonalInfoItems1 {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    font-style: 10px;
  }
}
.PersonalInfoItems2 {
  display: flex;
  align-items: start;
  height: 30%;
  width: 80%;
  font-family: "Nunito-ExtraLight";
  justify-content: space-between;
  color: #979090;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 100;
}
.PersonalInfoItems1 {
  display: flex;
  align-items: start;
  height: fit-content;
  width: 80%;
  font-family: "Nunito-ExtraLight";
  justify-content: space-between;
  color: #979090;
  font-size: 17px;
  font-weight: 100;
}

.PersonalInfoItemsLocation,
.PersonalInfoItemsEmail,
.PersonalInfoItemsBirthday {
  display: flex;
  width: 100%;
}
@media (max-width: 415px) {
  .aboutMePic {
    width: 270px;
    height: 200px;
    flex-direction: column;
    margin-left: 7%;
  }
}
.PersonalInfoItemsPhone {
  display: flex;
  width: 100%;
}

.phoneIconContainer,
.locationIconContainer,
.EmailIconContainer,
.birthdayIconContainer {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-left: 20px;
  padding-left: 5px;
  padding-top: 5px;
  justify-content: space-around;
  background: rgba(104, 105, 105, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: none solid rgba(255, 255, 255, 0.107);
}
.PersonalInfoItemsLocation {
  display: flex;
  width: 100%;
}
.phoneNumber,
.locationName,
.Email,
.birthdayDate {
  margin-left: 10px;
  width: 70%;
}
.phone {
  color: #d927e9;
}
.location {
  color: #c182c2;
}
.EmailDetails {
  color: #3ee3c6;
}
.birthday {
  color: #946298;
}
.phone,
.location {
  margin-left: 10%;
}
.WhatCanIDoSection {
  height: 40vh;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
}
@media (max-width: 415px) {
  WhatCanIDoSection {

    display: flex;
    flex-direction: column;
      font-size: 15px;
  }
}
.whatCanIDoContainer {
  width: 15%;
  height: 30px;
  margin-left: 6%;
}
@media (max-width: 415px) {
  .whatCanIDo1,.webDevDetails,
  .UIUXDetails {
   width: 300px;
 
  }
}
.whatCanIDoContainer p {
  font-weight: 700;
  font-size: 170%;
  font-family: "Nunito-Regular";
}
@media (max-width: 415px) {
  .whatCanIDoContainer p {
   width: 300px;
    display: flex;
    flex-direction: column;
      font-size: 15px;
  }
}
.WhatCanIDoSectionItems1 {
  display: flex;
  margin-top: 20px;
  width: 40%;
  height: fit-content;
  justify-content: space-between;
  margin-left: 6%;
}
@media (max-width: 415px) {
  .WhatCanIDoSectionItems1 {
   width: 300px;
    display: flex;
    flex-direction: column;
  }
}

.WhatIDo1,
.WhatIDo2 {
  width: 48%;
  height: 20vh;
  border-radius: 15px;
  display: flex;
  border-left: 1px solid #3f3939;
  background: rgba(216, 219, 216, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: none solid rgba(255, 255, 255, 0.107);
}
.webDevIcon,
.UIUXDevIcon,
.DebbugingIcon,
.TestingIcon {
  width: fit-content;
  height: fit-content;
  margin-top: 18px;
  margin-left: 5px;
}
.webDevDetails,
.UIUXDetails {
  width: 100%;
  height: 100%;

  padding-left: 5px;
  font-size: small;
  font-family: "Nunito-ExtraLight";
}

.Knowledge {
  height: fit-content;
  width: 100%;

  margin-left: 1%;
  display: flex;
  border-radius: 10px;

  justify-content: space-around;
}
.knowledgetext {
  font-family: "Nunito-Regular";
  font-weight: bold;
  padding-left: 50px;
}
.knowledgecontainer {
  height: 30vh;
  width: 30%;
  margin-right: 6%;
  /* background-color: #6f4fc4; */
  margin-left: 12%;
}

.html,
.CSS,
.JavaScript,
.React {
  width: 70px;
  height: 70px;
  /* background-color: #563232; */

  align-items: center;
  /* margin-left: 20px; */
  /* margin-left: 10%; */
}
.WhatCanIDoSectionItems {
  display: flex;
}
#UI,
#Web {
  color: #979090;
  font-size: 15px;
}
#UItitle,
#Webtitle {
  font-weight: 600;
}
