.ContactContainer {
  background-color: #000000;
  height: 150vh;
  width: 100%;
}
.Topbar {
  color: white;
}
.ContactTextHr {
  display: flex;
}
.contactText {
  height: fit-content;
  width: fit-content;
  margin-left: 10%;
  margin-top: 20px;
  color: white;
  font-family: "Nunito-ExtraBold";
}
@media (max-width: 415px) {
  .contactText {
    width: max-content;
    height: max-content;
    margin-left: 17%;
  }
}
.hr {
  width: 10%;
  height: 10%;

  margin-left: 10px;
  margin-top: 40px;
}
#hrline {
  /* margin-top: 10%; */
  width: 100%;
  height: 1.5px;
  border: none;
  background-color: #0be5d8;
}
@media (max-width: 415px) {
.hr {
    width: 70px;
    height: max-content;
  }
}
.contactText p {
  font-size: large;
  font-weight: bold;
}
.ContactSEc1Sec2 {
  display: flex;
  width: 80%;
  height: 100vh;
  /* background-color: #8290a4; */
  margin-left: 10%;
  justify-content: space-between;
}
@media (max-width: 415px) {
  .ContactSEc1Sec2 {
    display: flex;
    flex-direction: column;
  }
}
.ContactSec1Phone {
  width: 265px;
  height: 151px;
  background: #262626;
  border-radius: 20px;
}
@media (max-width: 415px) {
  #Phone,#Email,#Address {
    width: 250px;
    height: 150px;
    font-size: 14px;
    margin-left: 7%;
    /* align-items: center; */
    
  }
}
@media (max-width: 415px) {
  .ContactSec1 {
    width: max-content;
    height: max-content;
  }
}
.phoneIconSec,
.EmailIconSec {
  height: fit-content;
  margin-left: 10px;
  margin-top: 10px;
}
.phoneText,
.EmailText {
  /* background-color: #fff; */
  margin-left: 15px;
}
.phoneText1,
.EmailText1 {
  color: white;
  font-family: "Nunito-Bold";
}
.phoneText1 p,
.EmailText1 {
  font-weight: bold;
  font-size: large;
}
.phoneText2,
.phoneText3,
.EmailText2,
.EmailText3 {
  color: #979090;
  font-family: "Nunito-Regular";
}

.ContactSec1Phone,
.ContactSec1Email,
.ContactSec1Address {
  display: flex;
  width: 100%;
  height: 151px;
  /* background-color: #fff; */
}

.ContactSec1Email,
.ContactSec1Address {
  margin-top: 20px;
  width: 265px;
  height: 151px;
  background: #262626;
  border-radius: 20px;
}
.ContactSec2 {
  /* Rectangle 19 */

  box-sizing: border-box;

  width: 70%;
  height: 80vh;
  left: 473px;
  top: 214px;
  /* background-color: #debfbf; */
  border: 1.5px solid #3a3939;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}
@media (max-width: 415px) {
  .ContactSec2 {
    width: 300px;
    margin-top: 20px;
    
  }
}
.myDescription {
  /* width: fit-content; */
  height: fit-content;
  /* background-color: tomato; */
  margin-left: 5%;
  width: 100%;
  font-size: 10px;
}
@media (max-width: 415px) {
  #Description {
    width: 280px;
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 415px) {
  .myDescription {
    width: 280px;
  }
}
.myDescription p {
  width: 527px;
  font-style: normal;

  font-size: 25px;
  line-height: 34px;
  font-family: "Nunito-ExtraLight";
  color: #ffffff;
}
.inputName {
  margin-left: 5%;
}
@media (max-width: 415px) {
  .inputName {
    width: 300px;
  }
}
.inputName input {
  width: 527px;
  outline: none;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #180f24;

  justify-content: space-around;
  background: rgba(216, 219, 216, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: none solid rgba(255, 255, 255, 0.107);
  cursor: pointer;
}
@media (max-width: 415px) {
  .inputName input {
    width: 260px;
    font-size: 15px;
    line-height: 20px;
  }
}
@media (max-width: 415px) {
  #EmailInput,#Message {
    width: 260px;
    font-size: 15px;
    line-height: 20px;
  }
}

::placeholder {
  padding-left: 10px;
  font-family: "Nunito-ExtraLight";
}
.inputEmail,
.inputMessage {
  margin-top: 30px;
  margin-left: 5%;
}
.inputEmail input,
.inputMessage input {
  width: 527px;
  outline: none;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #180f24;
  text-decoration-color: #ffffff;
  justify-content: space-around;
  background: rgba(216, 219, 216, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: none solid rgba(255, 255, 255, 0.107);
  cursor: pointer;
}
.Submitbutton {
  margin-top: 30px;
  margin-left: 5%;
}
@media (max-width: 415px) {
  .Submitbutton {
    width:180%;
    font-size: 15px;
   margin-bottom: 25px;
  
  }
}

.Submitbutton button {
  height: 45px;
  width: 20%;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 15px;
  font-family: "Nunito-Regular";
}
@media (max-width: 415px) {
  .Submitbutton button{
    width:20%;
    font-size: 15px;
   margin-bottom: 25px;
  border-radius: 10px;
  }
}
.button:hover {
  background-color: #0be5d8;
  color: white;
}

.hrfooter {
  width: 100%;
  margin-top: 20px;

  /* background-color: tomato; */
}
#hr {
  color: #181818;
  /* padding-top: 20px; */
  height: 0.02px;
}
