.projectDescription {
  width: 27%;
  height: 60vh;
margin-top: 20px;
  margin-left: 6%;

  background: #262626;
  border-radius: 10px;
}
@media (max-width: 415px) {
  .projectDescription{
    font-size: 12px;
    align-items: center;
   width: 320px;
  align-items: center;
margin-left: 6%;
margin-right: 6%;
 
  }
}
@media (max-width: 415px) {
  .download{
    font-size: 15px;
    align-items: center;
    height: max-content;
    width: max-content;
  align-items: center;
margin-left: 10px;
 
  }
}
@media (max-width: 415px) {
  .PortfolioContainer{
display: flex;
flex-direction: column;
 
  }
}
.PortfolioContainer {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  height: 100vh;
}
.projectpic {
  width: 60%;
  height: 70vh;
  margin-top: 20px;
  margin-right: 6%;
  background-color: #9ebbcd;
}
.projectpic img{
  /* object-fit: fit; */
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: 415px) {
  .projectpic{
margin-left: 6%;
width: 320px;
 
  }
}
@media (max-width: 415px) {
  .projectpic img{
position: relative;
object-fit: fit;
width: 100%;
height: 100%;
 
  }
}
.E-Commerceapp{
    margin-left: 10px;
    color: white;
    font-family: "Nunito-Bold";
}
.E-CommerceappDescription{
    color: #979090;
    font-size: 15px;
    font-family: "Nunito-ExtraLight";
    padding-left: 10px;
    padding-right: 10px;
}
@media (max-width: 415px) {
  .E-CommerceappDescription{
    font-size: 15px;
    align-items: center;
   width: 300px;
  align-items: center;
margin-left: 10px;
 
  }
}

.githublink a{
    color: white;
    margin-left: 10px;
    /* color: inherit; */
}
@media (max-width: 415px) {
  .githubTech {
 margin-left: 6%;
 
  }
}
.githubTech{
  display: flex;
  
}
.technoligies{
  color:  #0be5d8;
  margin-left: 10%;
  font-family: "Nunito-Regular";
  padding-left: 30px;
}